<div class="padded">
    <div class="content padded">
        <div class="padded">
            <h1>Estos son mis proyectos!</h1>
            <div class="row">
                <div class="card third">
                    <h3>Mailer app</h3>
                    <p>Una aplicación que envía correos usando la API
                        de Sendgrid.
                    </p>
                    <a class="orange" href="#">Link aquí</a>
                </div>
            </div>
        </div>
        
        hola
    </div>
</div>