<div class="center padded">
    <div class="content padded">
        <div class="padded">
            <h1>Estos son mis proyectos!</h1>
            <div class="row">
                <div class="card third">
                    <h3>Mailer app</h3>
                    <p>Una aplicación que envía correos usando la API
                        de Sendgrid.
                    </p>
                    <a class="orange" target="_blank" href="https://github.com/JosueCevallos/mailerapp">Link aquí</a>
                </div>

                <div class="card third">
                    <h3>Gestor de Clientes</h3>
                    <p>Una aplicación para gestionar mis 
                        clientes.
                    </p>
                    <a class="orange" target="_blank" href="https://github.com/JosueCevallos/libreta_cliente">Link aquí</a>
                </div>

                <div class="card third">
                    <h3>Gestor de tareas</h3>
                    <p>Una aplicación para gestionar mis tareas.
                        de Sendgrid.
                    </p>
                    <a class="orange" target="_blank" href="https://github.com/JosueCevallos/todoer">Link aquí</a>
                </div>
            </div>
        </div>
        
    </div>
</div>